[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./teste_super_ensino/config/*,
       ./teste_super_ensino/wsgi.py,
       *__init__*
